# Spamikaze example config file.
#
# Copy to /etc/spamikaze/config or ~/.spamikaze/config and make sure
# all the values are correct, especially BackupMX !

[Database]
# the database type you're connecting to
Type=Pg/MySQL
Host=localhost
Port=5432
# database name, as well as username and password
Name=
Username=
Password=

[Mail]
# ignore RFC1918 (private) IP addresses, don't touch this
IgnoreRFC1918=1
# ignore unassigned IP addresses, often forged, but sometimes used by spammers
IgnoreBOGON=0
# IP addresses that should not be listed, like your own mail servers
BackupMX=1.2.3.4 2.3.4.5

[Expire]
# time (in hours) the first spam causes a host to be blocked
FirstTime = 360
# extra time (in hours) subsequent spams cause a host to be blocked
ExtraTime = 360
# after this many spams, don't expire a host from the database automatically
MaxSpamPerIp = 10

[DNSBL]
Domain = spamikaze.example.com
ZoneFile = /tmp/spamikaze-dnsbl.zone
UrlBase = http://spamikaze.example.com/listing?ip=
TTL = 300
PrimaryNS = ns.example.com
SecondaryNSes = ns2.example.com ns.example.net

[Web]
Header = /var/www/htdocs/spamikaze/header.php
Footer = /var/www/htdocs/spamikaze/footer.php
ListName = Spamikaze-example
ListingURL = /cgi-bin/listing.cgi
RemovalURL = /cgi-bin/remove.cgi
